@use '../variables'
@use '../mixins'

.about-container
    .en
        @include mixins.btn
        padding: 0
        width: 120px
        height: 20px
        margin-right: 10px
    a
        color: #00FFFF
        text-decoration: none

.about-containerlight
    .en
        @include mixins.btndark
        padding: 0
        width: 120px
        height: 20px
        margin-right: 10px
    a
        color: gray
        text-decoration: none
    a:hover
        transform: scale(1.5)