@use '../variables'
@use '../mixins'
.exercicios1
    background-color: #363636
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: xx-large
    h1
        background: variables.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent


    .exercicios2
        margin-top: 40px
        padding: 3rem
        align-items: center
        background-color: #111111bb
        width: 80%
        height: 80%
        text-align: center
        font-size: 1rem
        border-radius: variables.$container-border-radius
        .btn
            @include mixins.btn
            color: black
        img
          width: 230px
          height: 150px
          border: 2px solid #00e1ff
          margin: 5px
          border-radius: 6px          



.exercicios1light
    background-color: #ececec
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: xx-large
    h1
        background: variables.$gradient2
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent


    .exercicios2light
        margin-top: 40px
        padding: 3rem
        align-items: center
        background-color: #e4e4e4
        width: 80%
        height: 80%
        text-align: center
        font-size: 1rem
        border-radius: variables.$container-border-radius
        .btn
            @include mixins.btn
            color: black
        img
          width: 230px
          height: 150px
          border: 2px solid #00e1ff
          margin: 5px
          border-radius: 6px        